@model MVCSocialMedia.Models.Post

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="container">
        <div>
            <blockquote class="blockquote">
                <h2 class="p-4">@Html.DisplayFor(model => model.Title)</h2>
                <footer class="blockquote-footer text-left">Posted by: @Html.DisplayFor(model => model.Username)</footer>
            </blockquote>
        </div>
    </div>
    <hr />
    <div class="container">
            <div>
                    @if(Model.PostImageAsByteArray != null)
                    {
                        <div>
                            <div class="bg-light">
                                <img src="data:image;base64,@System.Convert.ToBase64String(Model.PostImageAsByteArray)" class="rounded mx-auto d-block"/>
                            </div>
                            <hr />
                        </div>
                    }
                <div class="bg-light p-4">
                    @Html.DisplayFor(model => model.OpinionText)
                </div>
            </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
