@model MVCSocialMedia.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<div class="card">
    <div class="card-header">
        <h3>Edit your post</h3>
    </div>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpinionText" class="control-label">Post Text</label>
                <textarea asp-for="OpinionText" class="form-control" rows="4" cols="50">
                </textarea>
                <span asp-validation-for="OpinionText" class="text-danger"></span>
            </div>
            <h4>Select A File To Upload</h4>
            <hr />
            <input type="file" name="file" />
        </div>
        <div class="card-footer">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <br />
            <div>
                <a asp-action="Index" asp-controller="Posts" class="w-20 btn btn-info fs-6" role="button">Back To All Posts</a>
            </div>
        </div>
    </form>
</div>

<div class="container bg-white">
    <div class="card mb-5 mt-5">
        <div class="card-header m-4">
            <blockquote class="blockquote">
                <h2 class="p-4">
                    @Model.Title &nbsp; &nbsp; &nbsp; &nbsp; <h2 />

                    <footer class="blockquote-footer text-left">Posted by: @Model.Username</footer>
            </blockquote>
        </div>
        <hr />
        <div class="card-body">
            <div>
                @if (Model.PostImageAsByteArray != null)
                {
                    <div>
                        <div class="bg-black">
                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.PostImageAsByteArray)" class="rounded mx-auto d-block" style="height: 500px" />
                        </div>
                        <hr />
                    </div>
                }
                <div class="p-4 mb-auto bg-light">
                    <h2>@Model.OpinionText</h2>
                </div>
            </div>
        </div>
        @if ((User.Identity.Name == Model.Username) || User.IsInRole("Admin"))
        {
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" asp-controller="Posts" class="w-20 btn btn-info fs-6" role="button">Back To All Posts</a>
            </form>
        }
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
