@{
    ViewData["Title"] = "Home Page";
}


<p>
    <a asp-action="Create" asp-controller="Posts" class="w-100 btn btn-info fs-4" role="button">Create a new post here!</a>
</p>
<div>
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <p>Here you can post your thoughts on any topics you like, try to include pictures to enhance your post.</p>
            <p>Want To Get Involved?</p>
            <p>Simply sign up and then you are free to post anything you like!</p>
            <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="w-20 btn btn-info fs-4" role="button">Sign Up Here</a>
            <hr />
            <p>Already got an account?</p>
            <p>Great get started with a new post now!</p>
            <a asp-action="Create" asp-controller="Posts" class="w-20 btn btn-info fs-4" role="button">Create a post here</a>
        </div>
    </div>
</div>

